/*body#main{
	background:url(/resources/img/index/mainImg_balii.jpg) top center no-repeat; 
	background-color:#fbfbfb;
}*/
.background{
	max-width: 720px;
    left:50%;
	margin-left:-360px;
    overflow: hidden;
	position:absolute;
	top:0;
	height: 556px;
	background-color:#fbfbfb;
	width:100%;
	z-index:11;
}
.topBox{
	z-index: 12;
    position: absolute;
    bottom: 0;
}
.cover{
	background: rgba(0,0,0,.55);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
	height:550px;
}
.background .upload img{
	height:550px;
	width:720px;
}
#main_wrap{
	max-width: 720px;
    left:50%;
	margin-left:-360px;
    overflow: hidden;
	position:absolute;
	top:0;
	background:#fbfbfb;
}
#main_wrap.hawai{
	background:url(/resources/img/index/mainImg_hawai.jpg) center center no-repeat;
}
.main_container{
	float:left;
	margin:173px 25px 60px 25px;
	/*background-color:#fbfbfb;*/
	padding:0 34px;
}
.main_personInfo{
	float:left;
	width:100%;
	z-index: 11;
}
.main_personImg img.personImg{
	border: 1px solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
}
.main_personImg span{
	display:block;
	float:left;
}
.person_rank{
	font-size:65px;
	font-weight:bold;
	color:#fff;
	letter-spacing:-3px;
	font-family: 'OneShinhanB';
}
.person_rank span{
	font-size:38px;
	font-family: 'OneShinhanL';
	display:block;
	font-weight:100;
	color:#fff;
}
.main_personImg{
	margin-top:53px;
	float:left;
}
.main_personImg input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px; 
	height: 1px;
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}
.inputFileButton{
	position: absolute;
	top: -40px;
    left: 140px;
	cursor:pointer;
}
.imgEditBtn{
	position: absolute;
    right: -10px;
    bottom: 105px;
}
.imgEditBtn img{
	cursor:pointer;
}
.mainEventBanner{
	float:left;
	margin-top:50px;
}
.mainEventBanner .mainEventBanner_t{
	font-size:35px;
	font-family: 'OneShinhanM';
}
.categoryBox{
	float:left;
	margin-top:35px;
}
.categoryBox dt{
	font-size:35px;
	font-weight:600;
	color:#000;
	margin-bottom:35px;
}
.categoryBox dd{
	float:left;
	margin-right:30px;
}
.categoryBox dd:nth-child(4), .categoryBox dd:nth-child(7){margin-right:0;}
.categoryBox dd:nth-child(5), .categoryBox dd:nth-child(6), .categoryBox dd:nth-child(7){margin-top:30px;}
.categoryBox dd a{
	width: 181px;
    height: 131px;
    border-radius: 30px;
    box-shadow: 1px 0 18px 10px rgb(0 0 0 / 7%);
	padding-top:50px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}
.categoryBox dd a:hover{
	background-color:#715def;
	color:#fff;
}
.categoryBox dd a span{
	display:block;
	height:50px;
	background:url(/resources/img/index/categoryIcon01.png) top center no-repeat;
	margin-bottom:24px;
}
.categoryBox dd a:hover span{
	background:url(/resources/img/index/categoryIcon01.png) bottom center no-repeat;
}
.categoryBox dd:nth-child(3) a span{
	height:53px;
	background:url(/resources/img/index/categoryIcon02.png) top center no-repeat;
	margin-bottom:19px;
}
.categoryBox dd:nth-child(3) a:hover span{
	background:url(/resources/img/index/categoryIcon02.png) bottom center no-repeat;
}
.categoryBox dd:nth-child(4) a span{
	height:49px;
	background:url(/resources/img/index/categoryIcon03.png) top center no-repeat;
}
.categoryBox dd:nth-child(4) a:hover span{
	background:url(/resources/img/index/categoryIcon03.png) bottom center no-repeat;
}
.categoryBox dd:nth-child(5) a span{
	height:59px;
	background:url(/resources/img/index/categoryIcon04.png) top center no-repeat;
	margin-bottom:10px;
}
.categoryBox dd:nth-child(5) a:hover span{
	background:url(/resources/img/index/categoryIcon04.png) bottom center no-repeat;
}
.categoryBox dd:nth-child(6) a span{
	height:44px;
	background:url(/resources/img/index/categoryIcon05.png) top center no-repeat;
}
.categoryBox dd:nth-child(6) a:hover span{
	background:url(/resources/img/index/categoryIcon05.png) bottom center no-repeat;
}
.categoryBox dd:nth-child(7) a span{
	height:41px;
	background:url(/resources/img/index/categoryIcon06.png) top center no-repeat;
	margin-bottom:28px;
}
.categoryBox dd:nth-child(7) a:hover span{
	background:url(/resources/img/index/categoryIcon06.png) bottom center no-repeat;
}
.swiper-slide img{
	width:626px;
	height:209px;
	border: 1px solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
}