@charset "UTF-8";

@font-face {
    font-family: 'OneShinhanB';
    src: url('/resources/FONT/OneShinhan-Bold.woff2') format('woff2'),
        url('/resources/FONT/OneShinhan-Bold.woff') format('woff'),
		url('/resources/FONT/OneShinhan-Bold.eot') format('eot'),
		url('/resources/FONT/OneShinhan-Bold.ttf') format('ttf');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'OneShinhanM';
    src: url('/resources/FONT/OneShinhan-Medium.woff2') format('woff2'),
        url('/resources/FONT/OneShinhan-Medium.woff') format('woff'),
		url('/resources/FONT/OneShinhan-Medium.eot') format('eot'),
		url('/resources/FONT/OneShinhan-Medium.ttf') format('ttf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'OneShinhanL';
    src: url('/resources/FONT/OneShinhan-Light.woff2') format('woff2'),
        url('/resources/FONT/OneShinhan-Light.woff') format('woff'),
		url('/resources/FONT/OneShinhan-Light.eot') format('eot'),
		url('/resources/FONT/OneShinhan-Light.ttf') format('ttf');
    font-display: swap;
	font-weight:100;
}

/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'OneShinhanL', sans-serif;
	position:relative;
	letter-spacing: -2px;
	color:#000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	position: relative;
	width: 100%;
	height:100%;
}
body#main{background:#fbfbfb;}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}
a{
	text-decoration:none;
	color:#231f20;
	cursor:pointer;
	display:inline-block;
}
img{
	display:block;
}
input {
	font-size:12px;
	color:#454545;	
	margin:0;
	*margin:-1px 0;
	padding:0;
	vertical-align:middle;
	background:none;
}
button{
	border:none;
	background:none;
	cursor:pointer;
	margin: 0;
    padding: 0;
}

/* 210625 추가 */
body.login{
	background:url(../img/loginBg.jpg) center top no-repeat;
	min-height:1500px;
	background-size:cover;
}
body.bm{background:#e7ebee;}
body.bm_sl{background:#96b3ff;}
body.bm_point{background:#b6e6d8;}
