<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  
    <!-- 코드 그룹 -->
    <configSections>
        <sectionGroup name="MLib.Config">
            <section name="travel" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>

    <!-- 코드 그룹의 멤버 -->
    <MLib.Config>
        <!-- 여행지 -->
        <travel>
            <add key="TRAVEL_A354A600-B514-4F91-9F01-17ABBDE24FDC" value="barcelona" />
            <add key="TRAVEL_4A281DA3-509F-457D-AB56-0126C6F6C799" value="hawaii" />
            <add key="TRAVEL_255B9422-0E63-4D14-BDAF-726A9929EA47" value="paris" />
            <add key="TRAVEL_5FDC889F-70E3-464E-AC81-04D833E92D13" value="lasvegas" />
            <add key="TRAVEL_17F3FD6A-561A-4B65-BDE4-D5EFA2301B29" value="sydney" />
            <add key="TRAVEL_BFCAD062-28A7-4513-89F0-E5E11BE59D52" value="bali" />
            <add key="TRAVEL_4279543F-9759-469E-A45C-EB8ADFCB3F77" value="bangkok" />
            <add key="TRAVEL_A4663DC9-C12A-4B1D-BE3B-CA54C68BBDFE" value="danang" />
            <add key="TRAVEL_C617AA4A-3DA9-4229-9DB6-ADAE5ABD4A4A" value="southcape" />
            <add key="TRAVEL_9A10A5E8-7B3B-4B0A-84AB-B46C572D64CD" value="jeju" />
        </travel>
    </MLib.Config>

    <appSettings>
        <!-- 암호화 키값 -->
        <add key="ENCRYPT_KEY" value="NRtVs0BINCMlXAPzHgwKoDuCWL4QTwdG" />
        <!-- 사이트 타이틀 -->
        <add key="SITE_TITLE" value="오렌지라이프 슬기로운 썸머생활" />
        <!-- AWS ACCESS 키 -->
        <add key="AWS_ACCESS" value="삭제" />
        <!-- AWS SECRET 키 -->
        <add key="AWS_SECRET" value="삭제" />
        <!-- AWS 버킷 -->
        <add key="AWS_BUCKET" value="삭제" />
    </appSettings>

    <!-- DB연결 문자열 -->
    <connectionStrings>
      <!-- add name="DB_CONNECTION" connectionString="Data Source=localhost;Initial Catalog=ORANGE_SUMMER;User Id=osummer;Password=osummer_dkagh;enlist=false;" providerName="System.Data.SqlClient" /-->
      <add name="DB_CONNECTION" connectionString="Data Source=ms1901.gabiadb.com;Initial Catalog=shinhanlife;User Id=shinhanlife;Password=shinhanlife123!;enlist=false;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" maxRequestLength="52100" />
        <authentication mode="Forms">
            <forms name=".ORANGESUMMER_USER" path="/" protection="All" timeout="30" />
        </authentication>
        <machineKey decryptionKey="90347E6304AD2C8BBB58D3DE539687517D5B288ABCF00852" validationKey="1CF7223D63618E5B8408FE6D4A849A45E75FBD94F187847EF05E09BBF2215C1FFBA29AB6FD6611D38DCA478238C26BA16634BB6AC29C180DFFF071B945DF26F9" validation="SHA1" decryption="AES" />
      <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" maxUrl="4096" maxQueryString="2048" />
            </requestFiltering>
        </security>
        <staticContent>
            <remove fileExtension=".eot" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".svg" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
        </staticContent>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>        
    </system.webServer>

    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
