<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 애플리케이션을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- 코드 그룹 -->
  <configSections>
    <sectionGroup name="MLib.Config">
      <section name="sample" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrangeSummer.Web.MasterApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 암호화 키값 -->
    <add key="ENCRYPT_KEY" value="NRtVs0BINCMlXAPzHgwKoDuCWL4QTwdG" />
    <!-- 사이트 타이틀 -->
    <add key="SITE_TITLE" value="SHINHANLIFE 관리자" />
    <!-- AWS ACCESS 키 -->
    <add key="AWS_ACCESS" value="AKIAYWS5C4PB6K2RZJEX" />
    <!-- AWS SECRET 키 -->
    <add key="AWS_SECRET" value="8eS+ZobBq6cq23XXewHZ8JH7Vyzt46xOTPjz6E3Q" />
    <!-- AWS 버킷 -->
    <add key="AWS_BUCKET" value="orangesummer" />
    <!-- 문자관련 -->
    <add key="kr.co.youiwe.webservice.ServiceSMS" value="http://webservice.youiwe.co.kr/SMS.v.5/ServiceSMS.asmx"/>

    <add key="DEV_MODE" value="R"/>

    <!--<add key="DIRECTORY_UPLOAD_PATH" value="D:\\w\\gest\\mayday\\workspace-2021\\upload"/>-->
    <add key="DIRECTORY_UPLOAD_PATH" value="C:\\webapp\\shinhanlife-fc.com\\upload"/>

    <add key="ABLE_UPLOAD_FILE_EXT" value=".jpg.jpeg.png.gif.bmp"/>
  </appSettings>
  <!-- DB연결 문자열 -->
  <connectionStrings>
    <add name="DB_CONNECTION" connectionString="Data Source=weespk.iptime.org;Initial Catalog=shinhanlife;User Id=shinhanlife;Password=shinhanlife123!;enlist=false;" providerName="System.Data.SqlClient" />
    <!--<add name="DB_CONNECTION" connectionString="Data Source=ms1901.gabiadb.com;Initial Catalog=shinhanlife;User Id=shinhanlife;Password=shinhanlife123!;enlist=false;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    
    <authentication mode="Forms">
      <forms name=".ORANGESUMMER_MASTER" path="/" protection="All" timeout="30" />
    </authentication>
    <!--<machineKey decryptionKey="90347E6304AD2C8BBB58D3DE539687517D5B288ABCF00852" validationKey="1CF7223D63618E5B8408FE6D4A849A45E75FBD94F187847EF05E09BBF2215C1FFBA29AB6FD6611D38DCA478238C26BA16634BB6AC29C180DFFF071B945DF26F9" validation="SHA1" decryption="AES" />-->

    <!--잠제적 위험 form 값관련-->
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <!--<compilation debug="false" targetFramework="4.5" />-->
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="52100" />-->
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="30"/>

    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="/error/error.html" >
      <error statusCode="404" redirect="/error/error.html"/>
      <error statusCode="500" redirect="/error/error.html"/>
    </customErrors>-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="/error/error.html"/>-->

  </system.web>

  <!-- 코드 그룹의 멤버 -->
  <MLib.Config>
    <!-- 검진결과 수령 방법 -->
    <sample>
      <add key="sample" value="샘플" />
    </sample>
  </MLib.Config>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxUrl="4096" maxQueryString="2048" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <applicationSettings>
    <OrangeSummer.Web.MasterApplication.Properties.Settings>
      <setting name="OrangeSummer_Web_MasterApplication_kr_co_youiwe_webservice_ServiceSMS"
        serializeAs="String">
        <value>http://webservice.youiwe.co.kr/SMS.v.5/ServiceSMS.asmx</value>
      </setting>
    </OrangeSummer.Web.MasterApplication.Properties.Settings>
  </applicationSettings>
</configuration>
